@import 'color';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    background-color: $light-gray;
    height: 100vh;

    @media screen and (max-width: 700px) {
        font-size: 12px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

}

.container {
    color: white;
    display: grid;
    grid-template-columns: 318px 318px;
    grid-template-rows: 215px 260px;
    grid-template-areas: "main main"
        "sub why";
    align-content: center;
    justify-content: center;
    height: 98vh;

    @media screen and (max-width: 700px) {
        grid-template-columns: 270px;
        grid-template-rows: 210px 210px 210px;
        grid-template-areas: "main"
            "sub"
            "why";
        height: 100vh;
    }


}

.main-card {
    padding: 40px;
    background-color: white;
    grid-area: main;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    h2 {
        color: $cyan;
    }

    h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        color: $bright-yellow;
    }

    p {
        color: $grayish-blue;
        line-height: 1.5;
    }

    @media screen and (max-width: 700px) {
        padding: 20px;
    }
}

.subscription {
    padding: 40px;
    background-color: $cyan;
    grid-area: sub;
    border-bottom-left-radius: 5px;

    span {
        color: white;
        font-size: 30px;
        font-weight: 700;
        margin-right: 10px;
    }

    a {
        color: white;
    }

    @media screen and (max-width: 700px) {
        padding: 20px;
        border-bottom-left-radius: 0;

        h4 {
            font-size: 16px;
        }
    }
}

.price {
    color: $gray;
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.botao {
    margin-top: 30px;
    background-color: $bright-yellow;
    text-align: center;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0px 10px 11px -2px rgba(0, 0, 0, 0.34);
    cursor: pointer;
}

.botao:hover {
    background-color: hsl(71, 61%, 49%);
    transition: 0.4s;
}

.why-us {
    padding: 40px;
    background-color: $light-cyan;
    justify-content: center;
    border-bottom-right-radius: 5px;

    p {
        font-size: 14px;
        margin-top: 15px;
        color: $light-gray;
        line-height: 1.5;
    }

    @media screen and (max-width: 700px) {
        padding: 20px;
        border-bottom-left-radius: 5px;

        h4 {
            font-size: 16px;
        }

        p {
            font-size: 13px;
        }
    }

}

.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }

    @media screen and (max-width: 700px) {
        margin-top: 20px;
        font-size: 9px;
    }
}