@import 'color';
@import 'responsive';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    background-color: $light-gray;
    height: 100vh;
}

.container {
    color: white;
    display: grid;
    grid-template-columns: 318px 318px;
    grid-template-rows: 215px 260px;
    grid-template-areas: "main main"
        "sub why";
    align-content: center;
    justify-content: center;
    height: 98vh;
    
}

.main-card {
    padding: 40px;
    background-color: white;
    grid-area: main;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    h2 {
        color: $cyan;
    }

    h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        color: $bright-yellow;
    }

    p {
        color: $grayish-blue;
        line-height: 1.5;
    }
}

.subscription {
    padding: 40px;
    background-color: $cyan;
    grid-area: sub;
    border-bottom-left-radius: 5px;

    span{
        color: white;
        font-size: 30px;
        font-weight: 700;
        margin-right: 10px;
    }

    a{
        color: white;
    }
}

.price{
    color: $gray;
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.botao{
    margin-top: 35px;
    background-color: $bright-yellow;
    text-align: center;
    padding:  15px  30px;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0px 10px 11px -2px rgba(0,0,0,0.34);
    cursor: pointer;
}

.botao:hover{
    background-color: hsl(71, 61%, 49%);
    transition: 0.4s;
}

.why-us {
    padding: 40px;
    background-color: $light-cyan;
  
    justify-content: center;
    border-bottom-right-radius: 5px;
    
    p{
        font-size: 14px;
        margin-top: 15px;
        color: $light-gray;
        line-height: 1.5;
    }

}

.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}